$breakpoint-lg: 1200px;
$breakpoint-md: 992px;
$breakpoint-sm: 768px;

// Desktop (default styles, no media query needed)

// Tablet styles
@media (max-width: $breakpoint-md) {
  body {
    font-size: 1.2rem;

    .circle {
      display: none;
    }
    .line {
      display: none;
    }
  }

  .Project__Card {
    width: 40%;
  }

  #aboutMe__Contents {
    flex-direction: column;
    align-items: center;

    #aboutMe__blurb,
    #skillsGallery {
      width: 80%;
      margin-left: 0;
      margin-bottom: 2rem;
    }
  }

  #hero #name {
    font-size: 6rem;
  }

  #hero #jobTitle {
    font-size: 4rem;
  }
}

// Mobile styles
@media (max-width: $breakpoint-sm) {
  body {
    .circle {
      display: none;
    }
    .line {
      display: none;
    }

    #hero {
      flex-direction: column;
      //align-items: center;
      margin-bottom: 10rem;

      .landingPage__name {
        #name {
          font-size: 3rem;
        }

        #jobTitle {
          font-size: 2rem;
        }
      }

      #contactMe {
        margin-top: 3rem;
        align-items: center;
        width: 3.5rem;
        right: 0.5rem;
        top: 3rem;
        padding: 2.5rem;
        position: relative;
        img {
          height: 2rem !important;
        }

        .contactMe__heading {
          font-size: 1rem;
        }
        .contactMe__links {
          display: contents;
        }
      }
    }
    #aboutMe__Contents {
      flex-direction: column;
      align-items: center;

      #aboutMe__blurb,
      #skillsGallery {
        font-size: 1rem;
        width: 20rem !important;
        margin-left: 0rem !important;
        margin-bottom: 2rem;
      }
    }
    #portfolioProjects {
      padding-left: 0rem !important;
      padding-right: 0rem !important;
      margin: 0rem !important;

      .Project__Carousel {
        padding: 0rem !important;
      }
      .Project__Card {
        width: 16rem !important;
        margin-left: 2.7rem !important;
        max-height: 40rem !important;
        img {
          height: 15% !important;
        }
      }
      .carousel__prev,
      .carousel__next {
        font-size: 1.2rem;
      }
    }
  }
}
