@import "mixins";

body {
  background-image: url("../images/option4.png");
  min-height: 100vh;
  overflow: auto;
  background-size: cover;
  background-repeat: no-repeat;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: larger;

  .circle {
    border-radius: 100%;
    position: absolute;
    transform: translate(-50%, -50%); // centers it
    animation: pulseAnimation 2s ease-in-out infinite;
    transition: 0s;
  }

  .line {
    position: absolute;
    height: 0.2rem;
    background-color: antiquewhite;
    z-index: 1;
    transform-origin: left center;
  }

  #hero {
    //background-color: white;
    color: antiquewhite;
    display: flex;
    position: relative;
    margin-bottom: 17rem;

    #contactMe {
      color: antiquewhite;
      border: 3px solid antiquewhite;
      right: 2rem;
      top: 8rem;
      position: absolute;
      border-radius: 2rem;
      padding: 2rem;
      background-color: rgba(51, 47, 71, 0.918);
      transition: opacity 1s ease-out;
      opacity: 0;

      .contactMe__links {
        justify-content: center;
        padding-left: 2.5rem;
      }
      img {
        height: 5rem;
      }
    }
    #name {
      font-size: 10rem;
      padding-bottom: 1rem;
      margin-top: -0.5rem;
      opacity: 0;
      transition: opacity 1s ease-out;
    }
    #jobTitle {
      font-size: 6rem;
      opacity: 0;
      transition: opacity 1s ease-out;
    }
    #introCircle {
      height: 5rem;
      width: 5rem;
      top: 78.9%;
      left: 45.6%;
      background-color: rgba(250, 235, 215, 0.596);
    }
    #contactMe__LineTo {
      top: 77.7%;
      left: 47.7%;
      transform: rotate(-5deg);
      @include growLine(growLinetoContactMe, 45.5rem, 2.5s, 0.5s);
    }

    #name__LineTo {
      left: 46.55%;
      top: 71.88%;
      transform: rotate(-65deg);
      @include growLine(growLineToName, 15.4rem, 1.2s, 0.5s);
    }
    #name__LineUnder {
      background-color: rgb(255, 255, 255);
      transform: rotate(180deg);
      left: 52%;
      top: 32.5%;
      @include growLine(growLineUnderName, 62.2rem, 1.5s, 1.6s);
    }
    #jobTitle__LineTo {
      //width: 20rem;
      left: 43.5%;
      top: 80%;
      transform: rotate(165deg);
      @include growLine(growLineToJobTitle, 8.25rem, 1.2s, 0.5s);
    }
    #jobTitle__LineUnder {
      transform: rotate(180deg);
      left: 36.75%;
      top: 86%;
      @include growLine(growLineUnderJobTitle, 44.5rem, 1.2s, 1.6s);
    }

    &.loaded #name,
    &.loaded #jobTitle,
    &.loaded #contactMe {
      opacity: 1; // Fade in the text
      transition-delay: 3s; // Delay text appearance until circle animation finishes
    }

    //this should be sent to the right side of the page with the hero?
  }
}
#aboutMe {
  color: white;
  margin-top: 25rem;

  #aboutMe__circle {
    height: 5rem;
    width: 5rem;
    top: 80%;
    left: 70%;
    background-color: rgba(250, 235, 215, 0.596);
  }

  #aboutMe__blurb__lineTo {
    transform: rotate(150deg);
    left: 66%;
    top: 84%;
    @include growLine(growLineToAboutMe, 20rem, 1.2s, 1.6s);
  }
  #aboutMe__SkillsGallery__LineTo {
    left: 70%;
    top: 84%;
    transform: rotate(100deg);
    @include growLine(growLineToSkillsGallery, 8rem, 1.2s, 1.6s);
  }

  #aboutMe__Contents {
    display: flex;

    #aboutMe__blurb {
      width: 50%;
      padding: 0.5rem;
      margin-left: 12rem;
      background-color: rgba(51, 47, 71, 0.918);
      border-radius: 2rem;
      border: 0.3rem solid white;
    }
    #skillsGallery {
      width: 15%;
      margin-left: 12rem;
      padding: 0.6rem;
      border: 0.3rem solid white;
      border-radius: 2rem;
      background-color: rgba(51, 47, 71, 0.918);

      img {
        height: 4rem;
      }
    }
  }
}

#portfolioProjects {
  color: whitesmoke;
  padding: 1rem;
  margin: 2rem;

  .Project__Carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding: 2rem;

    .Project__List {
      //so I think what we should do is set up a carousel for the projects, each automatically animating off their own small circle
      display: flex;
      gap: 2rem;
      transition: transform 0.5s ease;
      scroll-behavior: smooth;
      overflow-x: hidden;
      will-change: transform;

      .Project__Card {
        border: 3px solid whitesmoke;
        border-radius: 2rem;
        margin: 1rem;
        width: 20%;
        padding: 0.5rem;
        max-height: 30rem;
        font-size: medium;
        background-color: rgba(51, 47, 71, 0.918);

        img {
          height: 15%;
        }

        .project__blurb {
          //border: 3px solid plum;
          margin: 0.4rem;
        }

        .project__links {
          //border: 3px solid white;
          img {
            height: 3rem;
          }
        }
      }
    }
  }
  .carousel__prev,
  .carousel__next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    z-index: 2;
  }
  .carousel__prev {
    left: 1rem;
  }
  .carousel__next {
    right: 1rem;
  }
}

@keyframes pulseAnimation {
  0% {
    transform: translate(-50%, -50%) scale(1);
    box-shadow: 0 0 0 rgba(172, 255, 47, 0.719);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.05);
    box-shadow: 0 0 100px rgb(176, 255, 176);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    box-shadow: 0 0 0 rgba(172, 255, 47, 0.699);
  }
}
