@import "mixins";
@import "mediaBreakpoints";

body {
  background-image: url("../images/option4.png");
  min-height: 100vh;
  overflow: auto;
  background-size: cover;
  background-repeat: no-repeat;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: larger;

  .circle {
    border-radius: 100%;
    position: absolute;
    transform: translate(-50%, -50%); // centers it
    animation: pulseAnimation 2s ease-in-out infinite;
    transition: 0s;
  }

  .line {
    position: absolute;
    height: 0.2rem;
    background-color: antiquewhite;
    z-index: 1;
    transform-origin: left center;
  }

  #hero {
    color: antiquewhite;
    display: flex;
    position: relative;
    margin-bottom: 17rem;

    #contactMe {
      color: antiquewhite;
      border: 3px solid antiquewhite;
      right: 2rem;
      top: 8rem;
      position: absolute;
      border-radius: 2rem;
      padding: 2rem;
      background-color: rgba(51, 47, 71, 0.918);
      transition: opacity 1s ease-out;
      opacity: 0;

      .contactMe__links {
        justify-content: center;
        padding-left: 2.5rem;
      }
      img {
        height: 5rem;
      }
    }
    #name {
      font-size: 10rem;
      padding-bottom: 1rem;
      margin-top: -0.5rem;
      opacity: 0;
      transition: opacity 1s ease-out;
    }
    #jobTitle {
      font-size: 6rem;
      opacity: 0;
      transition: opacity 1s ease-out;
    }
    #introCircle {
      height: 5rem;
      width: 5rem;
      top: 29rem;
      left: 57rem;
      background-color: rgba(250, 235, 215, 0.596);
    }
    #contactMe__LineTo {
      top: 27rem;
      left: 58.5rem;
      transform: rotate(-20deg);
      @include growLine(growLinetoContactMe, 45.5rem, 2.5s, 0.5s);
    }

    #name__LineTo {
      left: 57.4rem;
      top: 26.3rem;
      transform: rotate(-75deg);
      @include growLine(growLineToName, 15.4rem, 1.2s, 0.5s);
    }
    #name__LineUnder {
      background-color: rgb(255, 255, 255);
      transform: rotate(180deg);
      left: 61.3rem;
      top: 11.5rem;
      @include growLine(growLineUnderName, 62.2rem, 1.5s, 1.6s);
    }
    #jobTitle__LineTo {
      left: 54.4rem;
      top: 29.2rem;
      transform: rotate(175deg);
      @include growLine(growLineToJobTitle, 11rem, 1.2s, 0.5s);
    }
    #jobTitle__LineUnder {
      transform: rotate(180deg);
      left: 43.5rem;
      top: 30.1rem;
      @include growLine(growLineUnderJobTitle, 44.5rem, 1.2s, 1.6s);
    }

    &.loaded #name,
    &.loaded #jobTitle,
    &.loaded #contactMe {
      opacity: 1;
      transition-delay: 3s;
    }
  }

  #somethingElseCircle {
    height: 3rem;
    width: 3rem;
    top: 160rem;
    left: 3rem;
    background-color: rgba(250, 235, 215, 0.596);
  }
}
#aboutMe {
  color: white;
  margin-top: 25rem;

  .section__hidden {
    opacity: 0;
  }

  .section__visible {
    opacity: 1;

    transition: opacity 1s ease-out, transform 1s ease-out;
  }

  #aboutMe__circle {
    height: 5rem;
    width: 5rem;
    top: 48rem;
    left: 60.5rem;
    background-color: rgba(250, 235, 215, 0.596);
  }

  #aboutMe__blurb__lineTo {
    transform: rotate(126deg);
    left: 59rem;
    top: 50rem;
  }
  #aboutMe__SkillsGallery__LineTo {
    left: 62.5rem;
    top: 49.5rem;
    transform: rotate(45deg);
  }
  @keyframes growLineToAboutMe {
    0% {
      width: 0;
    }
    100% {
      width: 13rem;
    }
  }
  @keyframes growLineToSkillsGallery {
    0% {
      width: 0;
    }
    100% {
      width: 15.8rem;
    }
  }

  #aboutMe__Contents {
    display: flex;

    #aboutMe__blurb {
      width: 55rem;
      padding: 0.5rem;
      margin-left: 12rem;
      background-color: rgba(51, 47, 71, 0.918);
      border-radius: 2rem;
      border: 0.3rem solid white;
    }
    #skillsGallery {
      width: 10rem;
      margin-left: 2rem;
      padding: 0.6rem;
      border: 0.3rem solid white;
      border-radius: 2rem;
      background-color: rgba(51, 47, 71, 0.918);

      img {
        height: 4rem;
      }
    }
  }
}

#portfolioProjects {
  color: antiquewhite;
  padding-top: 16rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 2rem;

  .section__hidden {
    opacity: 0;
  }

  .section__visible {
    opacity: 1;

    transition: opacity 1s ease-out, transform 1s ease-out;
  }

  .Projects__Heading {
    color: antiquewhite;
    border: 3px solid antiquewhite;
    text-align: center;
    background-color: rgba(51, 47, 71, 0.918);
    border-radius: 2rem;

    #Projects__Heading__lineTo {
      transform: rotate(95deg);
      left: 73rem;
      top: 114.7rem;
    }

    @keyframes growLineToProjectsHeading {
      0% {
        width: 0;
      }
      100% {
        width: 2.8rem;
      }
    }
  }

  #Projects__circle {
    height: 5rem;
    width: 5rem;
    top: 112.5rem;
    left: 74rem;
    background-color: rgba(250, 235, 215, 0.596);
  }

  .Project__Carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding: 2rem;

    .Project__List {
      //so I think what we should do is set up a carousel for the projects, each automatically animating off their own small circle
      display: flex;
      gap: 2rem;
      transition: transform 0.5s ease;
      scroll-behavior: smooth;
      overflow-x: hidden;
      will-change: transform;

      .Project__Card {
        border: 3px solid whitesmoke;
        border-radius: 2rem;
        margin: 1rem;
        width: 22rem;
        padding: 0.5rem;
        max-height: 30rem;
        font-size: medium;
        background-color: rgba(51, 47, 71, 0.918);

        img {
          height: 20%;
        }

        .project__blurb {
          margin: 0.4rem;
        }

        .project__links {
          img {
            height: 3rem;
          }
        }
      }
    }
  }
  .carousel__prev,
  .carousel__next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    z-index: 2;
  }
  .carousel__prev {
    left: 1.5rem;
    animation: pulseAnimation 2s ease-in-out infinite;
    border-radius: 1rem;
  }
  .carousel__next {
    right: -1.3rem;
    animation: pulseAnimation 2s ease-in-out infinite;
    border-radius: 1rem;
  }
}

@keyframes pulseAnimation {
  0% {
    transform: translate(-50%, -50%) scale(1);
    box-shadow: 0 0 0 rgba(172, 255, 47, 0.719);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.05);
    box-shadow: 0 0 100px rgb(176, 255, 176);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    box-shadow: 0 0 0 rgba(172, 255, 47, 0.699);
  }
}
