/*so this is the animation mixin that handles the grow line function - I noticed alot of repition happening in the keyframes and abstracted a bunch here.
Its now a 'function' that creates a new animation set in the CSS everytime you call it in the SCSS file*/
body {
  background-image: url("../images/option4.png");
  min-height: 100vh;
  overflow: auto;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: larger;
}
body .circle {
  border-radius: 100%;
  position: absolute;
  transform: translate(-50%, -50%);
  animation: pulseAnimation 2s ease-in-out infinite;
  transition: 0s;
}
body .line {
  position: absolute;
  height: 0.2rem;
  background-color: antiquewhite;
  z-index: 1;
  transform-origin: left center;
}
body #hero {
  color: antiquewhite;
  position: relative;
  margin-bottom: 17rem;
}
body #hero #name {
  font-size: 10rem;
  padding-bottom: 1rem;
  margin-top: -0.5rem;
  opacity: 0;
  transition: opacity 1s ease-out;
}
body #hero #jobTitle {
  font-size: 6rem;
  opacity: 0;
  transition: opacity 1s ease-out;
}
body #hero #introCircle {
  height: 5rem;
  width: 5rem;
  top: 95.15%;
  left: 52.5%;
  background-color: rgba(250, 235, 215, 0.596);
}
body #hero #name__LineTo {
  left: 52.5%;
  top: 86.5%;
  transform: rotate(-92.7deg);
  animation: growLineToName 1.2s ease-out 0.5s forwards;
}
@keyframes growLineToName {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    width: 15.4rem;
    opacity: 1;
  }
}
body #hero #name__LineUnder {
  background-color: rgb(255, 255, 255);
  transform: rotate(180deg);
  left: 52%;
  top: 36.5%;
  animation: growLineUnderName 1.5s ease-out 1.6s forwards;
}
@keyframes growLineUnderName {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    width: 62.2rem;
    opacity: 1;
  }
}
body #hero #jobTitle__LineTo {
  left: 50.35%;
  top: 96.45%;
  transform: rotate(176deg);
  animation: growLineToJobTitle 1.2s ease-out 0.5s forwards;
}
@keyframes growLineToJobTitle {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    width: 16.25rem;
    opacity: 1;
  }
}
body #hero #jobTitle__LineUnder {
  transform: rotate(180deg);
  left: 36.75%;
  top: 100%;
  animation: growLineUnderJobTitle 1.2s ease-out 1.6s forwards;
}
@keyframes growLineUnderJobTitle {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    width: 44rem;
    opacity: 1;
  }
}
body #hero.loaded #name, body #hero.loaded #jobTitle {
  opacity: 1;
  transition-delay: 3s;
}

#aboutMe {
  color: white;
  margin-top: 25rem;
}
#aboutMe #aboutMe__circle {
  height: 5rem;
  width: 5rem;
  top: 80%;
  left: 70%;
  background-color: rgba(250, 235, 215, 0.596);
}
#aboutMe #aboutMe__blurb__lineTo {
  transform: rotate(150deg);
  left: 66%;
  top: 84%;
  animation: growLineToAboutMe 1.2s ease-out 1.6s forwards;
}
@keyframes growLineToAboutMe {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    width: 20rem;
    opacity: 1;
  }
}
#aboutMe #aboutMe__SkillsGallery__LineTo {
  left: 70%;
  top: 84%;
  transform: rotate(100deg);
  animation: growLineToSkillsGallery 1.2s ease-out 1.6s forwards;
}
@keyframes growLineToSkillsGallery {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    width: 8rem;
    opacity: 1;
  }
}
#aboutMe #aboutMe__Contents {
  display: flex;
}
#aboutMe #aboutMe__Contents #aboutMe__blurb {
  width: 50%;
  padding: 0.5rem;
  margin-left: 12rem;
  background-color: rgba(3, 0, 27, 0.918);
  border-radius: 2rem;
  border: 0.3rem solid white;
}
#aboutMe #aboutMe__Contents #skillsGallery {
  width: 15%;
  margin-left: 12rem;
  padding: 0.6rem;
  border: 0.3rem solid white;
  border-radius: 2rem;
  background-color: rgba(129, 127, 139, 0.918);
}
#aboutMe #aboutMe__Contents #skillsGallery img {
  height: 4rem;
}

#portfolioProjects {
  color: whitesmoke;
  border: 3px solid white;
  padding: 1rem;
  margin: 1rem;
}
#portfolioProjects .Project__List {
  border: 3px solid hotpink;
  display: flex;
}
#portfolioProjects .Project__List .Project__Card {
  border: 3px solid whitesmoke;
  border-radius: 2rem;
  margin: 1rem;
  width: 16%;
  padding: 0.5rem;
}
#portfolioProjects .Project__List .Project__Card img {
  height: 11%;
}
#portfolioProjects .Project__List .Project__Card .project__blurb {
  border: 3px solid plum;
}
#portfolioProjects .Project__List .Project__Card .project__links {
  border: 3px solid white;
}
#portfolioProjects .Project__List .Project__Card .project__links img {
  height: 3rem;
}

#contactMe {
  color: purple;
}
#contactMe img {
  height: 4rem;
}

@keyframes pulseAnimation {
  0% {
    transform: translate(-50%, -50%) scale(1);
    box-shadow: 0 0 0 rgba(172, 255, 47, 0.719);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.05);
    box-shadow: 0 0 100px rgb(176, 255, 176);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    box-shadow: 0 0 0 rgba(172, 255, 47, 0.699);
  }
}/*# sourceMappingURL=styles.css.map */